.footerHomeMainContainer {
  background: #fd832b;
}

.footerHomeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img3 {
  width: 200px;
}

.img4 {
  width: 75px;
}
