body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 70px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: white;
}

h2 {
  margin: 0;
  font-size: 60px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #fd832b;
}

h3 {
  margin: 0;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #f68f47;
  text-align: left;
}

h4 {
  margin: 0;
  font-size: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  color: #727376;
  text-align: center;
  padding: 20px;
}

h5 {
  margin: 0;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #727376;
  text-align: center;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: "Lufga";
  src: local("Lufga"), url("./fonts/Lufga-Regular.otf") format("truetype");
  font-weight: 300; /* Ajuste conforme necessário */
  font-style: normal; /* Ajuste conforme necessário */
}
